<html>

<head>
    <title>Authorization Page</title>
</head>

<body>
    <h2>Client Application</h2>
    <div>{{ .ClientName }}</div>
    <h2>Requested Permission</h2>
    <div>
        {{ range .Scopes }}
        <ol>
            <li>{{ . }}</li>
        </ol>
        {{ end }}
    </div>
    <form method="post" action="/api/v1/authorize">
        <div>
            <input type="text" name="email" />
        </div>
        <div>
            <input type="password" name="password" />
        </div>
        <div>
            <input hidden name="redirect_uri" value="{{ .RedirectURI }}" />
        </div>
        <div>
            <button type="submit" name="consent" value="true">Approve</button>
        </div>
        <div>
            <button type="submit" name="deny" value="false">Deny</button>
        </div>
    </form>
</body>

</html>